*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --color-primary: #fff200;
  --color-secondary: #f49b90;
  --color-tertiary: #f28b7d;
  --color-quaternary: #f07a6a;
  --color-quinary: #5252eefb;
  
}


@font-face {
  font-family: vazir;
  font-style: normal;
  font-weight: 700;
  src: url("font/IRANSansWeb_Light.eot");
  src: url("font/IRANSansWeb_Light.woff") format("woff"),
    url("font/IRANSansWeb_Light.ttf") format("ttf"),
    url("font/IRANSansWeb_Light.woff2") format("woff2");
}
.wheel{
  background: black;
  background-image: none !important;
}
.comment *:not(input) {
  color: #eee !important;
}
.comment input{
  position: relative;
  z-index: 12;
}
.adds{
  background:rgba(0, 0, 0,.1);
  margin: 10px auto;
  position: relative;
}
.adds::before{
  opacity: 1;
	content:'google ads';
  top:0;
  left: 0;
	transform:translateY(50%);
	width:100%;
	bottom: 0;
	position: absolute;
	z-index:1;
  text-align: center;
}


.loadarea {
  display: inline-table;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  text-align: center;
  width: 100vw;
  transition: all 0.5s ease-in;
  height: 100vh;
  float: left;
  overflow: hidden;
  position: relative;
}
.loadarea.ui.segment {
  border: none !important;
}
.countdown-item {
  position: absolute;
  font-size: 100px;
  color: #fff;
}
.info {
position: absolute;
color: white;
text-align: left;
z-index: 3;

font-size: 12px;
padding: 0 10px;
background-image: linear-gradient(90deg, rgb(0, 0, 0) 20%, rgba(0, 0, 0, 0) 50%,rgb(0, 0, 0) 100%);
left: 0px;
right: 0;
font-family: bungee, sans-serif;
line-height: 25px;
height: 25px;
}
.info b{
  display: inline-block;
}
.info span{
  position:relative;
  top: calc(50% - 10px);
  display: inline-block;
}
.info >div{
  clear: both;
display: flex;
 
  overflow: hidden;
}


.info p{
  margin: 0 !important;
  font-size: 12px !important;
  text-shadow: 0px 0px 1px  rgba(0, 0, 0, 1);
}
.mainwheel *,.betbtnarea *,tr,tr .ui,.betarea .ui {
  font-family: bungee, sans-serif !important;
}
.mywhell .betarea {
  position: absolute;
  width: 100vw;
  max-width: 445px;
  height: 80vw;
  max-height: 445px;
  object-fit: contain;
  flex-shrink: 0;

  z-index: 200;
}
.mywhell .betarea .button {
  font-family: bungee, sans-serif !important;
  width: 50px;
  line-height: 50px;
  z-index: 99999;
  display: block;
  font-size: 13px;
  cursor: pointer;
  padding: 0;
  border-radius: 100%;
  left: 50%;
  top: 0;

  transform: translateX(-20px) scale(.8);
  transition: all .5s ease-in;
  box-shadow: 0 0  20px 10px rgba(12, 12, 0, 0.5);
}
.mywhell .betarea .button {

 
  cursor: default;
 
}
.mywhell.mytrue .betarea .button.b0:not(.active) ,.mywhell .betarea .button.b0:not(.active) {
  background: rgb(0, 0, 0,.1) !important;
 
  cursor: default;
  color: rgba(255, 255, 255, .6) !important;
}
.mywhell .betarea .button.active  {
  box-shadow: 0 0  20px 10px rgba(222, 238, 0, 0.5);
}
.mywhell:not(.mytrue) .betarea .button.noactive  {
  background: rgb(0, 0, 0,1) !important;
 opacity: .4;
  cursor: default;
  color: rgba(255, 255, 255, 1) !important;
  box-shadow: 0 0  5px 0px rgba(251, 255, 32, 0.5);
}
.lsec * {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.lsec {
  display: inline-table;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  text-align: center;
  width: 100%;
  transition: all 0.5s ease-in;
  height: 100vh;
 
  position: relative;
}
.mywhell {
  transition: transform 5s ease-in;
  transform: scale(1);
  transform-origin: top center;
  margin: auto;
  right: 0;
  left: 0;
  padding-top: 30px;
  position: relative;
}



.bhdLno   {
  transition: all 1s ease;

}
.modal{
  left: auto !important;
}
.mywhell .bhdLno  canvas {
  transition: all 2s ease;
  overflow: hidden;
border-radius: 1000px;
  transition-timing-function: cubic-bezier(0.41,0.02,0.00000000001,0.00000000001,1) !important;
}
.mywhell .bhdLno {

margin: auto;
}
.mywhell .bhdLno >div{
  overflow: hidden;
  border-radius: 1000px;
margin: auto;
}
.mywhell .bhdLno > div:after {
  opacity: 1;
	content:'';
  top:0;
	transform:translateX(100%);
	width:100%;
	bottom: 0;
	position: absolute;
	z-index:1;
	animation: slide 5s infinite ;
	 
  /* 
  CSS Gradient - complete browser support from http://www.colorzilla.com/gradient-editor/ 
  */
  background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.5) 50%, rgba(128,186,232,0) 99%, rgba(125,185,232,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(50%,rgba(255,255,255,0.5)), color-stop(99%,rgba(128,186,232,0)), color-stop(100%,rgba(125,185,232,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.5) 50%,rgba(128,186,232,0) 99%,rgba(125,185,232,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.5) 50%,rgba(128,186,232,0) 99%,rgba(125,185,232,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.5) 50%,rgba(128,186,232,0) 99%,rgba(125,185,232,0) 100%); /* IE10+ */
	background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,0.5) 50%,rgba(128,186,232,0) 99%,rgba(125,185,232,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#007db9e8',GradientType=1 ); /* IE6-9 */
}

/* animation */

@keyframes slide {
	0% {transform:translateX(-200%);}
	
	100% {transform:translateX(100%);}
}

.mywhell.mytrue {
  transform: scale(1.1);
}
.mywhell im2g {
  display: none;
}
.res .mywhell{
  transform: scale(0.9);
}

 .tablelist {
  height: 38vh;
  margin: 0 !important;
  overflow: auto;
  position: relative;
  z-index: 2;
}
.rsec.table {
  margin: 0 !important;
 
  height: 40vh;
  position: relative;
  z-index: 2;
  line-height: 20px;

}
.rsec.table .lasttable tbody {
  display: grid;
  width: 100%;
  position: relative;
  height: 300px;
  overflow: auto;
}
.rsec.table .lasttable tr{
  display: inline-table;
  
}
.rsec.table tr,.rsec.table td{
  position: relative;
}
.show.button {
 position: absolute;
 top: 0;
 bottom: 0;
 left: 0;right: 0;
 opacity: 0;
}
.rsec .statistic {
  width: 20% !important;
  margin: 0 !important;
}
.res .statistic {
  width: 40% !important;

}
.rsec.table td .statistic > .label {
  font-size: 7px !important;
}
.rsec.table .statistic > .value {
  font-size: 14px !important;
}
.rsec.table .statistic.small> .value {
  font-size: 24px !important;
  position: relative;
  width: 100%;
  text-align: center;
  left: 0;
  top: 10px;
  opacity: .6;
}



.content {
  display: flex;
  align-content: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.text-shadows {
  
  text-shadow: 3px 3px 0 var(--color-secondary), 6px 6px 0 var(--color-tertiary),
    9px 9px var(--color-quaternary), 12px 12px 0 var(--color-quinary),
    0 0 10px rgba(0, 0, 0, 1), 0 0 30px rgba(0, 0, 0, 1),
    0 0 15px rgba(0, 0, 0, 1);
  font-family: bungee, sans-serif !important;
  font-weight: 900;

  font-size: calc(2rem + 5vw);
  text-align: center;
  margin: 0;
  color: var(--color-primary);
  animation-duration: 1s !important;
  letter-spacing: 0.4rem;
  line-height: 300px;
}
.lsec > .segment,
.rsec > .segment {
  margin: 0px 10px;
}
.chiparea {
  position: absolute;
  left: 30px;
  bottom:0px;
  z-index: 1000;
  
}
.chiparea .chips {
  position: relative;
  text-align: center;
  
  transform: scale(.8) translateX(35px);
  transition: all 0.5s ease;
  cursor: pointer;
  z-index: 1;
  filter: drop-shadow(0px 0px 31px black)  !important;
}
.betarea .chips {
  position: absolute;
  top: 0;
  left: -20px;
  
  transform: scale(0.6);
  transform-origin: top left;
  cursor: default;
  pointer-events: none;
  z-index: 2;
  filter: drop-shadow(1px 1px 1px rgb(0, 0, 0)) !important;

}
.betarea.res .chips {

  left: 10px;


}
.chiparea .chips.active {
  filter: drop-shadow(1px 1px 20px rgb(255, 0, 0)) !important;
  transform: scale(1)  translateX(10px);
  z-index: 2;
 
}
.chips p {
  position: absolute;
  width: 100%;
  text-align: center;
  font-size: 20px;
  z-index: 2;
  line-height: 69px;
  
}
.chips p small {

  font-size: 10px;

  
}




.betbtnarea{
  width: 80px;
transform-origin: top left !important;
transform: scale(.8);
position: absolute;
z-index: 10;
top: 310px;
right: 50px;
bottom: 0;
}
.betlist{
  
  position: absolute !important;
  top:50vh;
  bottom: 0;
  left: 0;
  right: 0;
}

